<!-- 充值 -->
{set:$queryAccountLogList = Api::run('getUcenterAccoutLog',$this->user['user_id'])}
{set:$logList = $queryAccountLogList->find()}

<!-- 提现 -->
{set:$queryWithdrawList = Api::run('getWithdrawList',$this->user['user_id'])}
{set:$items = $queryWithdrawList->find()}

<div id="pageInfo" data-title="账户记录"></div>




<div id="main" class="person_mian">
    <div class="account_details curSelect" classShow="current">
        <ul class="sel_type">
            <li class="current"><a>充值</a></li>
            <li class=""><a>提现</a></li>
        </ul>
        
        <div class="type_box Box" style="display: block;">
            {if:$logList}
            {foreach:items = $logList}
            <div class="details_list">
                 <div class="list1">
                    <p>{$item['note']}</p>
                    <time>{echo:substr($item['time'],0,10)}</time>
                 </div>
                 <span>{$item['amount']}</span>
            </div>
            {/foreach}
            {$queryAccountLogList->getPageBar()}
            {else:}
            <div class="emptyDiv">暂时没有帐户变动记录</div>
            {/if}
        </div>
        
        
        
        <div class="type_box Box" style="display: none;">
            {if:$items}
            {foreach:items = $items}
            <div class="details_list">
                <div class="list1">
                    <p>提现</p>
                    <time>{echo:substr($item['time'],0,10)}</time>
                </div>
                <i class="{if:$item['status'] == -1}bg_red{elseif:$item['status'] == 2}bg_green{else:}bg_blue{/if}">{echo:AccountLog::getWithdrawStatus($item['status'])}</i>
                <span class="span_enter">{$item['amount']}</span>
                {if:$item['status']==0}
                <div class="btn btn_s btn_fa deleteButton" link="{url:/ucenter/withdraw_del/id/$item[id]}" msg="确定要取消么？">
                    取消
                </div>
                {/if}
            </div>
            {/foreach}
            {$queryWithdrawList->getPageBar()}
            {else:}
            <div class="emptyDiv">暂时没有提现记录</div>
            {/if}
        </div>
        
    </div>      
</div>
<script>
$(function(){
    $(".nav_user").addClass('cur');
})
</script>