<div id="pageInfo" data-title="我的余额"></div>
<div id="main" class="person_mian">
    <div class="user_info">
        <div class="wdzh">
            <img src="{skin:images/wdye.png}">
            <h1>我的余额</h1>
            <p>{$this->memberRow['balance']}</p>
        </div>      
        <a href="/ucenter/withdraw"><button class="submitBtn">提现</button></a>
        <a href="/ucenter/online_recharge"><button class="submitBtn submitBtn1">充值</button></a>
    </div>      
</div>
<script>
$(function(){
    $(".nav_user").addClass('cur');
})
</script>



