{set:$item = $this->order_info;}
<!-- <?php echo '<pre>';var_dump($item);  ?> -->
{set:$orderO=$item['orderlist'][0];}
<div id="pageInfo" data-title="订单详情"></div>

<div id="orderBox">
	<div class="contaniner fixed-conta">
		<section class="go-order">
			<div class="order-shop">
				<ul>
					<li>
						<p>
							下单状态：
							<span style="color:red;">
							{if:$item['status']==1}
							待付款
							{elseif:$item['status']==2}
							待发货(需商户确认)
							{elseif:$item['status']==9}
								{if:$item['freight_status']==0}
								待发货(需特派员接单)
								{elseif:$item['freight_status']==1}
								待发货(需特派员取货)
								{elseif:$item['freight_status']==2}
								待收货(特派员已取货)
								{else:}
								待收货(请确认已送达)
								{/if}
							{elseif:$item['status']==5}
								{if:Comment_Class::can_ordermarket_comment($item['id'])==true}
								订单完成(待评论)
								{else:}
								订单完成
								{/if}
							{elseif:$item['status']==3 || $item['status']==4}
							订单取消
							{elseif:$item['status']==6 || $item['status']==7}
							退货退款
							{elseif:$item['status']==11}
							已收货(请最终确认完成)
							{elseif:$item['status']==8}
							待发货（商户尚未确认完毕）
							{elseif:$item['status']==12}
							商户拒绝接单
							{else:}
							状态不明
							{/if}
							</span><br />
						</p>
					</li>
				</ul>
			</div>
			<div class="orderDizhi">
				<div class="dizhiyes">
					<a href="dizhi_list.html">
						<i class="icon iconfont icon-dingwei"></i>
						<div class="dizhiMiddle">
							<h1>收货人：{$orderO['accept_name']}&nbsp;&nbsp;{$orderO['mobile']}</h1>
							<p>收货地址：{$orderO['province_str']} {$orderO['city_str']} {$orderO['area_str']} {$orderO['address']}</p>
						</div>
						<div class="clear"></div>
					</a>
				</div>
			</div>
			<div class="order-shop">
				{set:$orderid_str=$item['orderid_str'];set:$orderidA=explode(',',$orderid_str);}

				{foreach:items=$item['orderlist'] item=$v}
				<div class="order-shop-list" as="{$v['id']}">
		    		<p>{$v['sellername']}（{$v['sellermobile']}）</p>
		    		{if:$v['pay_status']==1}
			    		{if:$v['status']==2}
			    		<span>尚未确认</span>
			    		{elseif:$v['status']==12}
			    		<span>商户拒绝接单</span>
			    		{elseif:$v['status']==8}
			    		<span>已确认</span>
			    		{elseif:$v['status']==3 || $v['status']==4}
			    		<span>已取消</span>
			    		{elseif:$v['status']==6}
			    		<span>
			    			退货退款
			    			({$returnText=Order_Class::orderDocStatus($v['id']);})
			    		</span>
			    		{elseif:$v['status']==7}
						<span>
							部分退货退款
							({$returnText=Order_Class::orderDocStatus($v['id']);})
						</span>
			    		{else:}
			    		{/if}
			    	{else:}
			    		{if:$v['status']==3 || $v['status']==4}
			    		<span>已取消</span>
			    		{/if}
		    		{/if}
		    	</div>
		    	{foreach:items=Api::run('getOrderGoodsListByGoodsid',array('#order_id#',$v['id'])) item=$good} {set:$good_info = JSON::decode($good['goods_array'])}
				<dl>
					<a href="{url:/site/products/id/$good[goods_id]}">
						<dt>
							{set:$imgPath=Goods_Class::imgPath($good['img'],$good['img_pathtype']);echo $imgPath;}
						</dt>
					</a>
					<dd>
						<p>{$good_info['name']}</p>
						<b>￥{$good['real_price']}</b>
						<strong>×{$good['goods_nums']}</strong>
					</dd>
					<div>
						<strong>赠送积分:{echo:$good['point']*$good['goods_nums']}</strong>
						<strong>优惠金额:￥{echo:$good['goods_price']-$good['real_price']}</strong>
					</div>
				</dl>
		    	{/foreach}
		    	<div class="otherdiv"><span>商品金额：<strong>￥{$v['real_amount']}</strong></span><br/><span>运费：<strong>￥{$v['yunfei']}</strong></span></div>
					{set:$oidstrA=explode(',',$item['orderid_str']);}
					{if:count($oidstrA)>1}
				    	{set:$curStatus=Order_Class::getOrderStatus($v);}

				    	{if:in_array($curStatus,array(1,2))}
				    	<div class="order_shzt clearfix">
							<input type="button" onclick='window.location.href="{url:/ucenter/order_status/order_id/$v[id]/orderidstr/$item[orderid_str]/omid/$item[id]/op/cancel}"' value="取消订单">
						</div>
						{elseif:$curStatus==4}
						<div class="order_shzt clearfix">
							<input type="button" onclick='window.location.href="{url:/ucenter/refunds_edit/order_id/$v[id]/orderidstr/$item[orderid_str]/omid/$item[id]}"' value="取消订单">
						</div>
						{else:}
						{/if}
					{/if}
				{/foreach}
				<ul>
					<li>
						<span>订单金额</span>
						<small>￥{$item['order_amount']}</small>
					</li>
					<li>
						<span>运费</span>
						<small>+￥{$item['yunfei']}</small>
					</li>
					<li>
						<span>共需支付</span>
						<small>￥{$amuont=($item['order_amount']+$item['yunfei']);}</small>
					</li>
				</ul>
			</div>
			<div class="order-shop">
				<ul>
					<li>
						<span>支付方式</span>
						<small>{$orderO['payment']}</small>
					</li>
					{if:$orderO['paynote']}
					<li>
						<span>支付说明</span>
						<small>{$orderO['paynote']}</small>
					</li>
					{/if}
					{if:$orderO['invoice']==1}
					<li>
						<span>所需税金</span>
						<small>{$orderO['taxes']}</small>
					</li>
					<li>
						<span>发票抬头</span>
						<small>{$orderO['invoice_title']}</small>
					</li>
					{/if}
				</ul>
			</div>
			{if:$item['freight_id']>0}
			{set:$freightinfo=Api::run(getFreigntInfo,array('#freight_id#',$item['freight_id']));}
			<!-- <?php echo '<pre>';var_dump($freightinfo);?> -->
			<div class="order-shop">
				<ul>
					<li>
						<p>
							派送员姓名：{$freightinfo[0]['name']}<br />
							派送员电话：{$freightinfo[0]['telphone']}
							{if:$freightinfo[0]['landline']!=''}
							({$freightinfo[0]['landline']})
							{/if}
							<br />
							派送员车牌号：{$freightinfo[0]['plate_num']}<br />
							{if:$item['send_time']!=0}
							派送员取货时间：{$item['send_time']}<br />
							{/if}
							{if:$item['delivered_time']!=0}
							派送员送达时间：{$item['delivered_time']}<br />
							{/if}
						</p>
					</li>
				</ul>
			</div>
			{/if}
			<div class="order-shop">
				<ul>
					<li>
						<p>
							下单时间：{$orderO['create_time']}<br />
							{if:$item[pay_status]==1}
							送达时间：
								{if:$item['songda_time']==0}
								尽快送达
								{else:}
								{$item['songda_time']}（预计）
								{/if}
								<br />
							{/if}
							{if:$item['seller_finish_time']!=0}
							发货时间：{$item['seller_finish_time']}<br />
							{/if}
							订单编号：{$item['ordermarket_no']}
							<br>
							{if:$item['completion_time']!=0}
							订单完成时间：{$item['completion_time']}
							{/if}
						</p>
					</li>
				</ul>
			</div>
		</section>
	</div>
</div>
<div style="margin-bottom:60px;"></div>
<div class="order-footer fixed-footer">

	{if:$item['pay_status']==0 && $item['status']==1}
	<input class="btn" type="button" value="立即付款" onclick="window.location.href='{url:/simple/gotopay/moid/$item[id]}'" />
	{/if}


	{if:$item['status'] == 9 && $item['freight_status'] == 3}
	<input class="btn" type="submit" value="确认送达" onclick='window.location.href="{url:/ucenter/order_status2/omid/$item[id]/op/songda}"' />
	{/if}

	{if:$item['status'] == 11}
	<input class="btn" type="submit" value="确认完成" onclick='window.location.href="{url:/ucenter/order_status2/omid/$item[id]/op/confirm}"' />
	{/if}


	{if:Order_Class::isGysDeliver($item['status'],$item['add_time'])}
	<input class="btn" type="button" value="确认发货" onclick='window.location.href="{url:/ucenter/order_status2/omid/$item[id]/op/fahuo}"' />
	{/if}

	{if:($item['status']==2 || $item['status']==8 || $item['status']==9) && $item['status']!=1 && $item['status']!=12 && $item['pay_status']==1 && $item['freight_status']==0}
	<input as1="{$item['status']}" as2="{$item['pay_status']}" as3="{$item['freight_status']}" class="btn" type="button" value="取消订单" onclick='window.location.href="{url:/ucenter/refunds_edit2/omid/$item[id]}"' />
	{/if}

	{if:$item['status']==5 && Comment_Class::can_ordermarket_comment($item['id'])}
	<input type="button" value="去评价" onclick="window.location.href='{url:/ucenter/evaluation}'" class="order-que">
	{/if}


	{if:$item['status']==11}
	<input class="btn" type="button" value="退货退款" onclick='window.location.href="{url:/ucenter/return_goods_edit/omid/$item[id]}"' />
	{/if}


	{if:$item['status']==1 && $item['pay_status']==0}
	<input class="btn" type="button" value="取消订单" onclick='window.location.href="{url:/ucenter/order_status2/omid/$item[id]/op/cancel}"' />
	{/if}

</div>

<script>
$(function(){
    $(".footer_nav").hide();
})
//快递跟踪
function freightLine(doc_id) {
	var urlVal = "{url:/block/freight/id/@id@}";
	urlVal = urlVal.replace("@id@", doc_id);
	art.dialog.open(urlVal, {
		'title': '轨迹查询',
		'width': '80%',
		'height': '80%'
	});
}

//修改表单信息
function editForm() {
	$('#acceptShow').toggle();
	$('#acceptForm').toggle();
}
</script>
