<div id="pageInfo" data-title="密码修改"></div>
<div id="orderBox">
	<div class="xgmm">
		<form action="{url:/ucenter/password_edit}" method="POST" role="form">
			<ul>
				<li>
					<img src="{skin:images/password.png}"/>
					<input type='password' placeholder="输入原密码" name="fpassword" class="input_text" pattern="^\S{6,32}$" alt='6-16位字母数字组合'>
				</li>
				<li>
					<img src="{skin:images/password.png}"/>
					<input type='password' placeholder="输入新密码" name="password" class="input_text" pattern="^\S{6,32}$" bind='repassword' alt='6-16位字母数字组合'>
				</li>
				<li>
					<img src="{skin:images/password.png}"/>
					<input type='password' placeholder="确认密码" name="repassword" class="input_text" pattern="^\S{6,32}$" bind='password' alt='6-16位字母数字组合'>
				</li>
			</ul>
			<input type="submit" class="submitBtn" value="立即修改"/>
		</form>
	</div>
	
</div>
<script>
$(function(){
    $(".nav_user").addClass('cur');
})
</script>
