<div id="pageInfo" data-title="申请退款"></div>
<form action="{url:/ucenter/return_goods_update}" method="post" callback="checkForm();" style="padding-bottom:0.46rem;">
	<input type="hidden" name="omid" value="{$this->omRow['id']}" />
	<section class="refunds_edit">
		<!-- 获取当前市场下的商品列表 -->
		<div class="input_li tuikuan">
			<strong>选择退款商品：</strong>
			{set:$orderid_str=$this->omRow['orderid_str'];}
			{foreach:items=Api::run('getInOrderGoodsListByGoodsid',array('#orderid_str#',$orderid_str)) item=$good}
			{set:$good_info = JSON::decode($good['goods_array'])}
			{if:$good['is_send'] != 2}
			<label class="input_radio block">
				<input type="checkbox" class="order_goods_id" name="order_goods_{$good['order_id']}_id[]" value="{$good['goods_id']}">
				<span>{$good_info['name']}{if:$good_info['value']}{$good_info['value']}{/if} × {$good['goods_nums']}件</span>
			</label>
			{/if}
			{/foreach}
		</div>
		<div class="input_li tuikuan">
			<strong>退货原因：</strong>
			<select name="return_type" id="thyy">
				<option value="1">运输问题</option>
				<option value="2">货物质量问题</option>
			</select>
		</div>
		<div class="input_li note">
			<strong>备注退款理由：</strong>
			<div>
				<textarea name="content" id="content" class="input_textarea" pattern="required" initmsg="" alt="填写退款备注信息"></textarea>
			</div>
		</div>
	</section>
	<div class="btn_bottom">
		<div class="btn_tab">
			<label class="btn_tab_submit blue">提交退款申请<input type="submit"></label>
		</div>
	</div>
</form>

<script type="text/javascript">
// $(function(){
// 	// 隐藏底部导航
// 	hideNav();
// })

//提交表单检查
function checkForm(){
	if($('#content').val() == ''){
		alert('请填写退款原因');
		return false;
	}
	if($('.order_goods_id:checked').length == 0){
		alert('请选择要退款的商品');
		return false;
	}
	return true;
}
</script>