{js:my97date}
<div class="headbar">
	<div class="position">订单<span>></span><span>订单管理</span><span>></span><span>订单列表</span></div>
	<div class="searchbar">
		<form action="{url:/}" method="get" name="ordermarket_list">
			<input type='hidden' name='controller' value='order' />
			<input type='hidden' name='action' value='ordermarket_list' />
			<select name="search[pay_status]" class="auto">
				<option value="">选择支付状态</option>
				<option value="0">未支付</option>
				<option value="1">已支付</option>
			</select>

			<select name="search[freight_status]" class="auto">
				<option value="">选择发货状态</option>
				<option value="0">未接单</option>
				<option value="1">已接单</option>
				<option value="2">已取货</option>
				<option value="3">已送达</option>
			</select>

			<select name="search[status]" class="auto">
				<option value="">选择订单状态</option>
				<option value="1">新订单</option>
				<option value="2">确认订单</option>
				<option value="3">取消订单</option>
				<option value="4">作废订单</option>
				<option value="5">完成订单</option>
				<option value="6">退款</option>
				<option value="7">部分退款</option>
				<option value="9">餐厅确认发货</option>
				<option value="11">餐厅确认送达</option>
				<option value="12">商户拒绝接单</option>
			</select>
			<button class="btn" type="submit"  onclick='changeAction(false)'><span class="sel">筛 选</span></button>
		</form>
	</div>
</div>

<form name="orderForm" id="orderForm" action="{url:/order/order_del}" method="post">
	<div class="content">
		<table class="list_table">
			<colgroup>
				<col width="30px" />
				<col width="130px" />
				<col width="130px" />
				<col width="70px" />
				<col width="75px" />
				<col width="75px" />
				<col width="75px" />
				<col width="115px" />
				<col width="70px" />
				<col width="70px" />
				<col width="115px" />
				<col width="110px" />
				<col width="110px" />
			</colgroup>

			<thead>
				<tr>
					<th>选择</th>
					<th>编号</th>
					<th>订单编号</th>
					<th>订购市场</th>
					<th>重量</th>
					<th>距离</th>
					<th>运费</th>
					<th>订单金额</th>
					<th>支付状态</th>
					<th>配送状态</th>
					<th>支付方式</th>
					<th>用户名</th>
					<th>下单时间</th>
				</tr>
			</thead>

			<tbody>
				{foreach:items = $this->orderHandle->find()}
				
				<tr>
					<td><input name="id[]" type="checkbox" value="{$item['id']}" /></td>
					<td title="{$item['id']}" name="orderStatusColor{$item['status']}">{$item['id']}</td>
					<td>{$item['ordermarket_no']}</td>
					<td title="{$item['m_name']}">{$item['m_name']}</td>
					<td>{set:$weight=round($item['weight']/1000,2)}{$weight}kg</td>
					<td>{set:$juli=round($item['juli']/1000,2)}{$juli}km</td>
					<td>{$item['yunfei']}</td>
					<td>{$item['order_amount']}</td>
					<td name="payStatusColor{$item['pay_status']}">{echo:Order_Class::getOrderPayStatusText($item)}</td>
					<td name="disStatusColor{$item['distribution_status']}">{echo:Order_Class::getOMFreightStatusText($item)}</td>
					<td>
						{query:name=payment where=id eq $item[pay_type] item=$pay}
						{$pay['name']}
						{/query}
					</td>

					<td>
						{if:$item['uid'] == 0}
						游客
						{else:}
						{query:name=user where=id eq $item[uid] item=$user}
						{$user['username']}
						{/query}
						{/if}
					</td>
					<td title="{$item['add_time']}">{$item['add_time']}</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
	</div>
	{$this->orderHandle->getPageBar()}
</form>
<script type='text/javascript'>
$(function(){
	{if:$this->search}
	var searchData = {echo:JSON::encode($this->search)};
	for(var index in searchData)
	{
		$('[name="search['+index+']"]').val(searchData[index]);
	}
	{/if}
	$("#order_amount_start").blur(function(){
		setOrderAmountVal();
	});
	$("#order_amount_end").blur(function(){
		setOrderAmountVal();
	});

	//高亮色彩
	$('[name="payStatusColor1"]').addClass('green');
	$('[name="disStatusColor1"]').addClass('green');
	$('[name="orderStatusColor3"]').addClass('red');
	$('[name="orderStatusColor4"]').addClass('red');
	$('[name="orderStatusColor5"]').addClass('green');
});
</script>
