{js:artTemplate}
<script type='text/javascript' src='{theme:javascript/orderFormClass.js}'></script>
<script type='text/javascript'>
//创建订单表单实例
orderFormInstance = new orderFormClass();

//DOM加载完毕
$(function(){
    $(".footer_nav").hide();
    //商家信息
    orderFormInstance.seller = {echo:JSON::encode($this->seller)};
    //商品价格
    orderFormInstance.goodsSum = "{$this->final_sum}";
    orderFormInstance.weightVal = "{$this->weight}";

    //收货地址数据
    orderFormInstance.addressInit();

    //支付方式
    orderFormInstance.paymentInit("{$this->custom['payment']}");
});
</script>

<div id="pageInfo" data-title="确认订单"></div>
<div id="main" style="padding-bottom: 0;">
    <div class="orderBox">
        <form action='{url:/simple/cart3}' class="form" method='post' name='order_form' onsubmit='return orderFormInstance.isSubmit()'>
            <input type='hidden' name='direct_gid' value='{$this->gid}' />
            <input type='hidden' name='direct_type' value='{$this->type}' />
            <input type='hidden' name='direct_num' value='{$this->num}' />
            <input type='hidden' name='direct_promo' value='{$this->promo}' />
            <input type='hidden' name='direct_active_id' value='{$this->active_id}' />
            <div class="orderDizhi">
                <div class="dizhiyes">
                    {if:$this->addressList}
                        {foreach:items=$this->addressList}
                            {if:$item['is_default']==1}
                            <input name="radio_address" yunfei="0" marketidStr="{$this->marketid_str}" cityVal="{$item['city_val']}" addVal="{$item['address']}" type="radio" checked style="display:none;" value="{$item['id']}"/>

                            <a href="javascript:">
                                <i class="icon iconfont icon-dingwei"></i>
                                <div class="dizhiMiddle" id="dizhiXuanze">
                                    <h1>收货人：{$item['accept_name']}&nbsp;&nbsp;{$item['mobile']}</h1>
                                    <p>收货地址：{$item['province_val']} {$item['city_val']} {$item['area_val']} {$item['address']}</p>
                                </div>
                                <i class="icon iconfont icon-jiantou-copy"></i>
                                <div class="clear"></div>
                            </a>
                            {/if}
                        {/foreach}
                    {/if}
                    <a href="javascript:void(0);" class="xinzeng" onclick="editAddress();"><i class="icon iconfont icon-xinzeng"></i>&nbsp;&nbsp;新增收货地址</a>
                    <div class="dizhiyes_box">
                            {foreach:items=$this->addressList}
                            <div class="dizhiyes_list " onclick="orderFormInstance.getDelivery({$item['id']});">
                                <div class="dizhiMiddle"  id="address_{$item['id']}">
                                    <h1>收货人：{$item['accept_name']}&nbsp;&nbsp;{$item['mobile']}</h1>
                                    <p>收货地址：{$item['province_val']} <span id="cityval_{$item['id']}">{$item['city_val']}</span> {$item['area_val']} <span id="addval_{$item['id']}">{$item['address']}</span></p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            {/foreach}
                    </div>
                </div>
            </div>
            <div class="orderps">
                <div class="psxz clearfix">
                    <h1><number>{$this->count}</number>件商品，共计<span id="weightVal">{$this->weight}</span>公斤</h1>
                    <input type="hidden" name="accept_time" value="任意">
                    <!-- <select name="accept_time">
                        <option value="0">选择配送时限（必选）</option>
                        <option value="任意">随时</option>
                        <option value="周一到周五">周一到周五</option>
                        <option value="周末">周末</option>
                    </select> -->
                    <select name="status_type" id="status_type">
                        <option value="0">即时订单</option>
                        <option value="1">3小时内送达</option>
                        <option value="2">6小时内送达</option>
                        <option value="3">次日早11点前送达</option>
                    </select>
                </div>
                <input type="hidden" id="songda_time" name="songda_time" value="0">
                <p><span id="yuji">尽快送达</span>,支付成功后需等待物流方确认配送车辆，如未能接单，则订单在2小时内自动取消，费用在审核后会自动退还账户。</p>
            </div>
        <div class="orderCon">
            {foreach:items=$this->marketArr item=$v}
                <div class="orderShop">
                    <h1>{$v['name']}</h1>
                </div>
                {set:$goodsCount=$this->goodsList}
                {foreach:items = $this->goodsList}
                {if:$item['market_id']==$v['id']}
                <div class="orderGoods">
                    <div class="fl goods">
                        {set:$imgPath=Goods_Class::imgPath($item['img'],$item['img_pathtype']);echo $imgPath;}
                    </div>
                    <div class="fr goodsJiage">
                        <h1>{$item['name']}</h1>
                        {if:isset($item['spec_array'])}
                        {set:$spec_array=Block::show_spec($item['spec_array']);}
                        <div class="tip">
                            {foreach:items=$spec_array item=$specValue key=$specName}
                                <!-- {$specName}： -->
                                <span>{$specValue}</span>
                            {/foreach}
                        </div>
                        {/if}
                        <h2>￥{$item['sell_price']}<span>×{$item['count']}</span></h2>
                    </div>
                    <div class="clear"></div>
                </div>
                {/if}
                {/foreach}
            {/foreach}
            <input type="hidden" name="delivery_id" value="1">
            <div class="zffs">
                <h1>支付方式:</h1>
                <ul>
                    {foreach:items = Api::run('getPaymentList')}
                    {set:$paymentPrice = CountSum::getGoodsPaymentPrice($item['id'],$this->sum);}
                    <li>
                        <input name="payment" alt="{$paymentPrice}" type="radio" value="{$item['id']}"
                                onclick='orderFormInstance.paymentSelected({$item['id']});' title="{$item['name']}" />
                        <p>{$item['name']} {$item['note']} {if:$paymentPrice}支付手续费：￥{$paymentPrice}{/if}</p>
                    </li>
                    {/foreach}
                </ul>
            </div>

            <div class="goodPs" >
                <ul>
                    <li>
                        <label>订单附言</label>
                        <input placeholder="选填：填写内容已和卖家协商确认" name="message">
                    </li>
                </ul>
            </div>
            <div class="kfp">
                <label>开具发票(税金:￥{$this->goodsTax})</label>
                <div><input class="radio" class="option-input radio" style="position:relative" onchange="orderFormInstance.doAccount();$('#tax_title').toggle();" name="taxes" type="checkbox" value="{$this->goodsTax}" /></div>
            </div>
            <div class="zffs jsxx">
                <h1>结算信息:</h1>
                <div class="count">
                    {if:$this->final_sum != $this->sum}
                    优惠后总金额：
                    {else:}
                    商品总金额：
                    {/if}
                    <strong>{$this->final_sum}</strong><br/>
                    <!-- - 代金券：<strong name='ticket_value'>0</strong><br/> -->
                    <div class="">+ 税金：<strong id='tax_fee'>0</strong><br/></div>
                    + 运费：<strong id='delivery_fee_show'>0</strong><br/>
                    <!-- + 保价：<strong id='protect_price_value'>0</strong><br/> -->
                    + 支付手续费：<strong id='payment_value'>0</strong><br/>
                </div>
                <!-- <div class="btn_box">
                    <div class="btn btn_all btn_pink" onclick="orderFormInstance.ticketShow();">使用代金券</div>
                </div> -->
            </div>

        </div>
        <div style="margin-bottom: 30px;"></div>
        <div class="goodsTijiao">
            <p >应付款￥<span id="final_sum">{$this->final_sum}</span></p>
            <button>提交订单</button>
        </div>
        </form>
    </div>
</div>
<script>
    $('#status_type').on('change',function(){
        var val=$(this).children('option:selected').val();
        var songda_time=$('#songda_time');
        var yuji=$('#yuji');
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth()+1;
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        if(val==1)
        {
            yuji_text='预计三小时后送达';
            hour+=3;
            songda_time.val(year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second);
        }else if(val==2){
            yuji_text='预计六小时后送达';
            hour+=6;
            songda_time.val(year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second);
        }else if(val==3){
            yuji_text='次日上午11点前送达';
            day+=1;
            hour=11;
            minute=0;
            second=0;
            songda_time.val(year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second);
        }else{
            yuji_text='尽快送达';
            songda_time.val(0);
        }
        yuji.html(yuji_text);
    });
</script>

<script>
    $(".dizhiyes a").click(function(){
        $(".dizhiyes_box").css("display","block");
        $(".orderps").css("display","none");
        $(".orderCon").css("display","none");
        $(".goodsTijiao").css("display","none");
    });
</script>

