{js:artTemplate}
<script type='text/javascript' src='{theme:javascript/orderFormClass.js}'></script>
<script type='text/javascript'>
//创建订单表单实例
orderFormInstance = new orderFormClass();

//DOM加载完毕
$(function(){
    $(".footer_nav").hide();
    //商家信息
    orderFormInstance.seller = {echo:JSON::encode($this->seller)};

    //商品价格
    orderFormInstance.goodsSum = "{$this->final_sum}";

    //配送方式初始化
    orderFormInstance.deliveryInit("{$this->custom['delivery']}");

    //收货地址数据
    orderFormInstance.addressInit();

    //支付方式
    orderFormInstance.paymentInit("{$this->custom['payment']}");

    //免运费
    orderFormInstance.freeFreight = {echo:JSON::encode($this->freeFreight)};
});
</script>




<div id="pageInfo" data-title="确认订单"></div>
<div id="main" style="padding-bottom: 0;">
    <div class="orderBox">
        <form action='{url:/simple/cart3}' class="form" method='post' name='order_form' onsubmit='return orderFormInstance.isSubmit()'>
            <input type='hidden' name='direct_gid' value='{$this->gid}' />
            <input type='hidden' name='direct_type' value='{$this->type}' />
            <input type='hidden' name='direct_num' value='{$this->num}' />
            <input type='hidden' name='direct_promo' value='{$this->promo}' />
            <input type='hidden' name='direct_active_id' value='{$this->active_id}' />
            <div class="orderDizhi">
                
                <div class="dizhiyes">
                    {if:$this->addressList}
                        {foreach:items=$this->addressList}
                            {if:$item['is_default']==1}
                            <input name="radio_address" type="radio" checked style="display:none;" value="{$item['id']}"/>
                            <a href="{url:ucenter/address}">
                                <i class="icon iconfont icon-dingwei"></i>
                                <div class="dizhiMiddle">
                                    <h1>收货人：{$item['accept_name']}&nbsp;&nbsp;{$item['mobile']}</h1>
                                    <strong></strong>
                                    <p>收货地址：{$item['province_val']} {$item['city_val']} {$item['area_val']} {$item['address']}</p>
                                </div>                          
                                <i class="icon iconfont icon-jiantou-copy"></i>
                                <div class="clear"></div>
                            </a>
                            {/if}
                        {/foreach}
                    {else:}
                    <a href="javascript:void(0);" class="xinzeng" onclick="editAddress();"><i class="icon iconfont icon-xinzeng"></i>&nbsp;&nbsp;新增收货地址</a>
                    {/if}
                    
                </div>
            </div>
            <div class="orderps">
                <div class="psxz clearfix">
                    <h1><number>{$goodsCount}</number>件商品，共计<span>8</span>公斤</h1>
                    <input type="hidden" name="accept_time" value="任意">
                    <!-- <select name="accept_time">
                        <option value="0">选择配送时限（必选）</option>
                        <option value="任意">随时</option>
                        <option value="周一到周五">周一到周五</option>
                        <option value="周末">周末</option>
                    </select> -->
                    <select name="status_type">
                        <option value="0">即时订单</option>
                        <option value="1">3小时订单</option>
                        <option value="2">6小时订单</option>
                    </select>
                </div>
                <p>预计在<span>12月8日11点</span>前送达，支付成功后需等待物流方确认配送车辆，如未能接单，则订单在2小时内自动取消，费用自动退还账户。</p>
            </div>
        <div class="orderCon">
            {foreach:items=$this->sellArr item=$v}
                <div class="orderShop">
                    <h1>{$v['name']}</h1>
                </div>
                <div class="yfsm">
                    <span>免运费</span>
                    {if:$this->promotion}
                    {foreach:items = $this->promotion[$v['id']] item=$val }
                    <p>{$val['info']}</p>
                    {/foreach}
                    {/if}
                    <a href="{url:/site/sitemap}">去凑单></a>
                </div>
                {set:$goodsCount=$this->goodsList}
                {foreach:items = $this->goodsList}   
                {if:$item['seller_id']==$v['id']}
                <div class="orderGoods">
                    <div class="fl goods">
                        <img src="{url:/pic/thumb/img/$item[img]/w/80/h/80}">
                    </div>
                    <div class="fr goodsJiage">
                        <h1>{$item['name']}</h1>
                        {if:isset($item['spec_array'])}
                        {set:$spec_array=Block::show_spec($item['spec_array']);}
                        <div class="tip">
                            {foreach:items=$spec_array item=$specValue key=$specName}
                                <!-- {$specName}： -->
                                <span>{$specValue}</span>
                            {/foreach}
                        </div>
                        {/if}
                        <h2>￥{$item['sell_price']}<span>×{$item['count']}</span></h2>
                    </div>
                    <div class="clear"></div>
                </div>
                {/if}
                {/foreach}

            {/foreach}
            
            
            




            <div class="zffs">
                <h1>配送方式:</h1>
                <ul>
                    {foreach:items = Api::run('getDeliveryList')}
                    <li>
                        <input type="radio" name="delivery_id" value="{$item['id']}" paytype="{$item['type']}"
                            onclick='orderFormInstance.deliverySelected({$item['id']});' />
                        <strong id="deliveryShow{$item['id']}"></strong>
                        <p>{$item['name']} {$item['description']}</p>
                        {if:$item['type'] == 2}
                        <span class="ziti_btn" onclick="orderFormInstance.selectTakeself({$item['id']})">选择自提点</span>
                        <span id="takeself{$item['id']}"></span>
                        {/if}
                    </li>
                    {/foreach}
                </ul>
                <!--配送信息-->
                <script type='text/html' id='deliveryTemplate'>
                    <strong>运费：￥<%=item['price']%></strong>
                    <%if(item['protect_price'] > 0){%>
                    <strong>保价：￥<%=item['protect_price']%></strong>
                    <%}%>
                </script>
            </div>
            <div class="zffs">
                <h1>支付方式:</h1>
                <ul>
                    {foreach:items = Api::run('getPaymentList')}
                    {set:$paymentPrice = CountSum::getGoodsPaymentPrice($item['id'],$this->sum);}
                    <li>
                        <input name="payment" alt="{$paymentPrice}" type="radio" value="{$item['id']}"
                                onclick='orderFormInstance.paymentSelected({$item['id']});' title="{$item['name']}" />
                        <p>{$item['name']} {$item['note']} {if:$paymentPrice}支付手续费：￥{$paymentPrice}{/if}</p>
                    </li>
                    {/foreach}
                </ul>
            </div>

            <div class="goodPs" >
                <ul>
                    <li>
                        <label>订单附言</label>
                        <input placeholder="选填：填写内容已和卖家协商确认" name="message">
                    </li>
                </ul>
            </div>
            <div class="kfp">
                <label>开具发票(税金:￥{$this->goodsTax})</label>
                <div><input class="radio" class="option-input radio" style="position:relative" onchange="orderFormInstance.doAccount();$('#tax_title').toggle();" name="taxes" type="checkbox" value="{$this->goodsTax}" /></div>
            </div>
            <div class="zffs">
                <h1>结算信息:</h1>
                <div class="count">
                    {if:$this->final_sum != $this->sum}优惠后总金额{else:}商品总金额{/if}：<strong>{$this->final_sum}</strong><br/>
                    - 代金券：<strong name='ticket_value'>0</strong><br/>
                    + 税金：<strong id='tax_fee'>0</strong><br/>
                    + 运费总计：<strong id='delivery_fee_show'>0</strong><br/>
                    + 保价：<strong id='protect_price_value'>0</strong><br/>
                    + 支付手续费：<strong id='payment_value'>0</strong><br/>
                </div>
                <div class="btn_box">
                    <div class="btn btn_all btn_pink" onclick="orderFormInstance.ticketShow();">使用代金券</div>
                </div>
            </div>

        </div>
        <div style="margin-bottom: 30px;"></div>
        <div class="goodsTijiao">
            <p >应付款￥<span id="final_sum">{$this->final_sum}</span></p> 
            <button>提交订单</button>
        </div>
        </form>
    </div>
</div>

