<div id="pageInfo" data-title="密码重置"></div>
<div id="main">
    <div class="pro_top yz">
        <dl style="margin-left: 12.5%;">
            <dt><span style="background: #259b24;"></span></dt>
            <dd>手机验证</dd>
        </dl>
        <dl>
            <dt><span></span></dt>
            <dd>输入新密码</dd>
        </dl>
        <dl>
            <dt><span></span></dt>
            <dd>修改成功</dd>
        </dl>
    </div>
    <div class="yz_info">
        <form action="{$this->formAction}" method="post" >
            <div class="yz_info_con">
                <span>输入新密码</span>
                <input type="password" name="password" id="password" value="" pattern="^\S{6,32}$" placeholder="你想要的新密码" bind='repassword' alt='6-16位字母数字组合'/>
            </div>
            <div class="yz_info_con">
                <span>确认密码</span>
                <input type="password" name="repassword" id="repassword" value="" pattern="^\S{6,32}$" placeholder="请再次输入新密码" bind='password' alt='6-16位字母数字组合'/>
            </div>
            <input type="hidden" name="mobile" value="{$mobile}">
            <input type="hidden" name="sep" value="2">
            <button>下一步</button>
        </form>
    </div>
</div>
