<div id="pageInfo" data-title="{$sellerRow['true_name']}"></div>
<section class="seller_info">
    <dl>
        <dt>评分：</dt>
        <dd>
            <em class="star star_{echo:statistics::gradeSeller($sellerRow['id'])}"></em>
        </dd>
    </dl>
    <dl>
        <dt>销量：</dt>
        <dd>{echo:statistics::sellCountSeller($sellerRow['id'])} 件</dd>
    </dl>
    <dl>
        <dt>联系电话：</dt>
        <dd>{$sellerRow['phone']}</dd>
    </dl>
    <dl>
        <dt>所在地：</dt>
        <dd>{echo:join(' ',area::name($sellerRow['province'],$sellerRow['city'],$sellerRow['area']))} {$sellerRow['address']}</dd>
    </dl>
</section>

<div class="foodTitle cate" id="listShow" style="padding-bottom:0.38rem;border-bottom:0px;">
  <ul classshow="foodText ul" curclass="curLi">
    <li curid="0" class="cateid {if:$cateid==0}curLi{/if}" onclick="gourl('{echo:search_goods::searchUrl(array('cid'),array('0'))}')"> 全部</li>
    {foreach:items=Api::run('getCategoryListTop','id asc') item=$item}
    
    <li curid="{$item['id']}"  class="cateid {if:$cateid==$item['id']}curLi{/if}" onclick="gourl('{echo:search_goods::searchUrl(array('cid'),array($item['id']))}')" > {$item['name']}</li>
    {/foreach}
  </ul>
</div>
{if:$cateid==0}
{set:$w=array('go.seller_id' => $seller_id)}
{else:}
{set:$cidStr=Goods_Class::topcatChildTree($cateid);$w=array('go.seller_id' => $seller_id,'category_extend'=>$cidStr);}
{/if}

{set:plugin::trigger("onServiceButton",$sellerRow['id'])}
{set:$goodsObj = search_goods::find($w,20);$resultData = $goodsObj->find();}
{if:$resultData}
<aside class="goods_sort" style="margin-top:0.04rem;">
    {foreach:items=search_goods::getOrderType()}
    <span class="sort_btn" onclick="gourl('{echo:search_goods::searchUrl(array('order','by'),array($key,search_goods::getOrderBy($key)))}')">{$item}</span>
    {/foreach}
</aside>
<section class="goods_list">
    <ul>
        {foreach:items=$resultData}
        <li>
            <a href="{url:/site/products/id/$item[id]}">
                {set:$imgPath=Goods_Class::imgPath($item['img'],$item['img_pathtype']);}
                <i class="photo">{$imgPath}</i>
                <h3 class="name"><strong>{$item['name']}</strong></h3>
                <del class="old_price">￥{$item['market_price']}</del>
                <em class="price">￥{$item['sell_price']}</em>
            </a>
        </li>
        {/foreach}
    </ul>
</section>
{$goodsObj->getPageBar()}
{else:}
<section class="empty">商品进货中，请稍后关注上架情况</section>
{/if}


<script>
$(function(){
    // 切换导航样式
    var order = getUrlParam("order");
    var by = getUrlParam("by");
    var sortBtn = $(".goods_sort").children('.sort_btn');

    // sortBtn.eq(2).append('<i>');
    if(order=="sale"){
        if (by=="desc") {sortBtn.eq(0).addClass('on').append('<i class="icon-angle-down"></i>')}
        else {sortBtn.eq(0).addClass('on').append('<i class="icon-angle-up"></i>');}

    }else if (order=="cpoint"){
        if (by=="desc") {sortBtn.eq(1).addClass('on').append('<i class="icon-angle-down"></i>')}
        else {sortBtn.eq(1).addClass('on').append('<i class="icon-angle-up"></i>');}
    }else if(order=="price"){
        if (by=="desc") {sortBtn.eq(2).addClass('on').append('<i class="icon-angle-down"></i>')}
        else {sortBtn.eq(2).addClass('on').append('<i class="icon-angle-up"></i>');}
    }else if(order=="new"){
        if (by=="desc") {sortBtn.eq(3).addClass('on').append('<i class="icon-angle-down"></i>')}
        else {sortBtn.eq(3).addClass('on').append('<i class="icon-angle-up"></i>');}
    }else{
        sortBtn.eq(0).addClass('on');
    };
});
</script>

