<div id="pageInfo" data-title="商品搜索"></div>

{set:$defaultWhere = array('search' => $this->word, 'category_extend' => $this->cat_id)}
{set:$goodsObj = search_goods::find($defaultWhere,10);$resultData = $goodsObj->find();}
{if:$resultData}
<aside class="goods_sort" style="margin-top: 40px;">
    {foreach:items=search_goods::getOrderType()}
    <span class="sort_btn" onclick="gourl('{echo:search_goods::searchUrl(array('order','by'),array($key,search_goods::getOrderBy($key)))}')">{$item}</span>
    {/foreach}
</aside>
<div class="foodText">
    <ul>
        {foreach:items=$resultData item=$v}
        <li>
            <div class="foodPic">
                <a as="{$v['img_pathtype']}" href="{url:/site/products/id/$v[id]}">
                {set:$imgPath=Goods_Class::imgPath($v['img'],$v['img_pathtype']);}
                {$imgPath}
                </a>
            </div>
            <div class="foodJg">
                <a href="{url:/site/products/id/$v[id]}">
                    <h1>{$v['name']}</h1>
                    <h2>
                        <span>
                            ￥{$v['sell_price']}{if:$v['unit']!=''}/{$v['unit']}{/if}
                        </span>
                    </h2>
                </a>
            </div>
            <button onclick="joinCart_list({$v['id']});"><i class="icon iconfont icon-jiarugouwuche"></i></button>
            <div class="clear"></div>
        </li>
        {/foreach}
    </ul>
</div>

{$goodsObj->getPageBar()}
{else:}
<div class="emptyDiv">搜索结果为零</div>
{/if}

<script>
$(function(){
    // 切换导航样式
    var order = getUrlParam("order");
    var sortBtn = $(".goods_sort").children('.sort_btn');
    // sortBtn.eq(2).append('<i>');
    if(order=="sale"){
        sortBtn.eq(0).addClass('on').append('<i class="icon-angle-down"></i>');
    }else if (order=="sale_toggle"){
        sortBtn.eq(0).addClass('on').append('<i class="icon-angle-up"></i>');
    }else if (order=="cpoint"){
        sortBtn.eq(1).addClass('on').append('<i class="icon-angle-down"></i>');
    }else if(order=="cpoint_toggle"){
        sortBtn.eq(1).addClass('on').append('<i class="icon-angle-up"></i>');
    }else if(order=="price"){
        sortBtn.eq(2).addClass('on').append('<i class="icon-angle-down"></i>');
    }else if(order=="price_toggle"){
        sortBtn.eq(2).addClass('on').append('<i class="icon-angle-up"></i>');
    }else if(order=="new"){
        sortBtn.eq(3).addClass('on').append('<i class="icon-angle-down"></i>');
    }else if(order=="new_toggle"){
        sortBtn.eq(3).addClass('on').append('<i class="icon-angle-up"></i>');
    }else{
        sortBtn.eq(0).addClass('on');
    };
});
</script>
